<div class="modal">
  <div>
    <h1 class="title">Les managers</h1>
  </div>
  <div>
    <div *ngFor="let manager of world.managers.pallier;">{{setManager(manager)}}
      <div class="managerslayout">
        <div> <div class="logo">
          <img class="round" [attr.src]="server+manager.logo" />
        </div>
        </div>
        <div>
          <div class="managername"> {{ manager.name}} </div>
          <div class="managercible">Automatise {{ world.products.product[manager.idcible-1].name }} </div>
          <div class="managercost"> {{ manager.seuil}} €</div>
        </div>
        <div>
          <button mat-raised-button (click)="hireManager(manager)" [disabled]="this.manager.unlocked" [ngClass]="{'selectable' : (this.globalMoney >= manager.seuil)}">Recruter !</button>
        </div>
      </div>
    </div>
  </div>
</div>
