img{
  width: 70px;
  height: auto;
  margin-left: 10px;
}
.title{
  text-align: center;
}
button{
  margin-right: 10px;
}
.managerslayout{
  display: table;
  margin: 0 auto;
}
.managerslayout:hover{
  border-radius: 10px;
  background-color: lightblue;
}
.logo, .C2, .C3{
  display: table-cell;
  vertical-align: middle;
}
.C2 div{
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.managername{
  margin-top: 10px;
  font-weight: bold;
  color: #0ca6e3;
}

.managercible{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size:85%;
  color : grey;
}
.managercost{
  margin-bottom: 10px;
}
