<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav">
    <img [attr.src]="server+world.logo" alt="logoJeu">
    <h1 id="worldName">{{world.name}}Marseille Capitalist</h1>
    <ul>
      <li routerLinkActive="active"><a routerLink="gameplay">Jeu</a></li>
      <li routerLinkActive="active"><a routerLink="achievements">Achievements</a></li>
      <li routerLinkActive="active">Upgrades</li>
      <li routerLinkActive="active">Managers</li>
      <li routerLinkActive="active">Investors</li>
      <li routerLinkActive="active">Coming Soon</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="containerContent">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
