<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav">
    <img src="assets/marseilleLogo.png" alt="logoJeu" id="appLogo">
    <h1 id="worldName">{{world.name}}</h1>
    <ul class="menu">
      <a mat-stroked-button routerLink="gameplay" (click)="this.isClicked = !isClicked" [class.myClass]="this.isClicked">Jeu</a><br>
      <a mat-stroked-button routerLink="achievements"(click)="this.isClicked = !isClicked"  [class.myClass]="this.isClicked">Succès</a><br>
      <a mat-stroked-button >Améliorations</a><br>
      <a mat-stroked-button routerLink="managers">Managers</a><br>
      <a mat-stroked-button>Investisseurs</a><br>
      <a mat-stroked-button>A suivre...</a>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="containerContent">
      <app-header [world]="this.world"></app-header>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
