.container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #eee;
  background-image: url("../assets/rug.png");
}

.sidenav{
  width: 20%;
}

#appLogo{
  width: 50%;
  height: auto;
}

mat-sidenav{
  text-align: center;
}

.menu{
  padding-left: 0px;
}

a{
  width:130px;
  margin-top:5px;
}

.myClass{
  width: 140px;
  transition-duration: 1s;
}

.mat-badge-content {
  background: red;
  color: #71717d;
}

#worldName{
  color: #0ca6e3;
}
