<div id="product">
  <div class="img">
    <img (click)="startFabrication()"
         [src]="server + 'icones/' + this.product.logo"
         [ngClass]="{'grey':!isAvailable}">
  </div>
  <div class="product">
    <mat-progress-bar mode="determinate"
                      [value]="progressbarValue"></mat-progress-bar>
    <p>
      <mat-icon>savings</mat-icon>{{this.product.revenu}}€&nbsp;&nbsp;-&nbsp;&nbsp;
      <mat-icon>access_time_filled</mat-icon>
      {{this.product.timeleft | msFormat}}
    </p>
    <div class="price">
      <button mat-raised-button matBadge="{{this.maxQtt}}" matBadgeSize="medium" [matBadgeHidden]="!visibilityBadge" matBadgePosition="below" [disabled]="!buyable" (click)="onBuy()"><mat-icon>add_shopping_cart</mat-icon>{{this.affichagePrix.toFixed(2)}}$</button>
    </div>
    <div class ="qtt">
      <p>{{this.product.quantite}}/50</p>
    </div>
  </div>
</div>




