.img{
  float:left;
  width:20%;
}

.img:active{
  opacity: 50%;
}

.product{
  float:right;
  width:80%
}
.product p{
  position: relative;
  margin-top: -25px;
  margin-bottom: 0px;
  text-align: center;
}
.price{
  float:left;
  width:70%;
  text-align: center;
}
.mat-progress-bar{
  height:25px;
}
.mat-raised-button{
  width:100%;
}

.qtt{
  float:right;
  width:30%;
  text-align: center;
}

.qtt p{
  margin:9px;
}

#product img{
  height: 63px;
  border-radius: 6px;
}

#product img:hover{
  cursor: pointer;
}

mat-icon{
  font-size: 15px;
  vertical-align: -3px;
}

.price mat-icon{
  font-size: 18px;
  vertical-align: -5px;
  margin-right: 10%;
}

.mat-badge-content {
  width: auto;
  border-radius: 13px;
  right: unset !important;
}

.grey{
  filter: grayscale(100%);
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #0ca6e3;
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(208, 216, 217);
}
