.img{
  float:left;
  width:20%;
}
.product{
  float:right;
  width:80%
}
.product p{
  position: relative;
  margin-top: -19px;
  margin-bottom: 0px;
  text-align: center;
}
.price{
  float:left;
  width:50%;
  text-align: center;
}
.mat-progress-bar{
  height:20px;
}
.mat-raised-button{
  width:100%;
}

.timeleft{
  float:right;
  width:50%;
  text-align: center;
}

.timeleft p{
  margin:9px;
}

