<div class="modal">
  <div>
    <h1 class="title">Les succès</h1>
  </div>
  <div>
    <div *ngFor="let unlock of this.achievementsList;">
      <div *ngFor="let u of unlock.palliers.pallier;">
        <div *ngIf="!u.unlocked" class="unlocklayout">
          <div class="logo">
            <img class="round" [src]="server + 'icones/' + u.logo"/>
          </div>
          <div class="C2">
            <div class="unlockname"> {{ u.name}} </div>
            <div class="unlockbonus">débloque {{ u.typeratio}} x {{u.ratio}} </div>
            <div class="unlockquantity">Seuil : {{ u.seuil }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
